body {
  margin: 0;
  padding: 0;
  width:1200px;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;
  background-image: url("../img/main_background.jpg");
  background-position: top center;
  background-repeat: repeat;
  outline:1px solid black;
}
.main-header {
 width: auto;
 padding: 0 27px;
 min-height: 70px;
 outline: 5px solid red;
 
}
.main-navigation {
 display:flex;
 align-items:flex-start;
 outline: 5px solid green;

}
.main-header-logo {
 width: 154;
 height: 64;
 padding-top: 10px;
 padding-right: 22px;
 outline: 5px solid blue;
}
.main-navigation-wrapper {
 width:	970px;
 padding-top: 30px;
 display: flex;
 justify-content:space-between;
 align-items:flex-start;
 flex-direction:row;
 outline: 5px solid purple;
}
.site-navigation {
 margin: 0;
 padding: 0;
 width: 620px;
 margin-right: 370px;
 outline: 5px solid orange;
 position: relative;
}

.user-navigation {
 margin: 0;
 padding: 0;
 width: 250px;
 
 outline: 5px solid grey;

}
.menu{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
 
}
.upper-menu {
  padding: 10px;
  margin-left: -10px;
}
.list li {
 display: inline-block;
 margin-right:28px;
}
.down-menu {
 position: absolute;
 background-color: #fbded7;
 border-radius: 5px;
 margin: 0;
 padding: 0;
 background-color: #f7f6f3;
 top: 35px;
 left: -20px;
 
 display: none;
}
.down-menu li{
 padding: 10px 20px;
 margin: 0; 
}
.upper-menu li:hover .down-menu {
 display: block;	
 
}

.down-menu a{
 color: #323232;
 text-decoration: none; 
}
.down-menu li:hover {
 background-color: #fbded7;
 
}
.down-menu li:focus {
 background-color: #ffbc9e;
}

.list,
.footer-menu {
  list-style: none;

}

.upper-menu:hover,
.upper-menu:focus {
  color: #323232;	
  background-color: #f7f6f3;
  border-radius: 15px;
  padding: 10px;
}

.features {
 color: #323232;
 text-align: left;
 background-image: url("../img/waffle_background.jpg");
 background-position: top center;
 background-repeat: no-repeat;
 width: auto;
 padding: 0 27px; 
}
.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight:700;
}
.features p{
  font-weight:500;
}
.container-main {
 display: flex;
 justify-content:space-between;
 outline: 5px solid purple;
 padding: 0 27px; 
  
}
.news {
 text-align: left;
 background-image: url("../img/strawberry_background.jpg");
 background-position: left;
 background-repeat: no-repeat;
 height: 220px;
 width: 560px;
 
}
.news h2 {
 color: #323232;
 font-size: 16px;
 line-height: 22px;
 font-weight:400;
}
.news p{
 font-weight:700;
}
.news a {
 color: #323232;
 font-size: 24px;
 line-height: 30px;
}
.follow_us {
 height: 220px;
 width: 560px;
 background-color: #f8f7f4;
 background-image: url("../img/background_post.png"), url("../img/border_post.png");
 background-position: center;
 background-repeat: no-repeat;
 
 font-size: 16px;
 line-height: 22px;
 color: #5a5a5a;
 font-weight: 400;
 text-transform: none;
}
.follow_news {
 color: #5a5a5a;
 font-weight: 500;
}
.button {
	display: inline-block;
	vertical-align: baseline;
	max-width: 200px;
	padding: 10px 25px;
	border: none;
	text-align: center;
	line-height: 1;
	outline: none;
	overflow: hidden;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	background-image: linear-gradient(to top, #e74a35, #f26843);
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 #ac1000;
}

.button:hover {
	background-image: linear-gradient(to top, #ec6f5e, #f58669);
	box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
	background-image: linear-gradient(to top, #e1613e, #d74632);
	box-shadow: inset 0 2px 2px 0 #942718;
}
.main-footer {
 width: auto;
 min-height:103px;
 padding: 0 27px;
 min-height: 70px;
 outline: 5px solid red;
 display:flex;
}
.footer-social{
 width: 190px;
 margin-right: 215px;
 padding:0;
}
.list-footer li{
 display:inline;
 margin-right: 10px;
 list-style: none;
}
 
.footer-menu,
.footer-menu a {
 font-size: 13px;
 line-height: 18px;
 font-weight: 500;
 text-transform: none;
 color: #ffffff;
}
.footer-menu a:hover,
.footer-menu a:focus {
 color: #ffbc9e;
}
.footer-info {
 width:	335px;
 display:inline;
}
.footer-info li:first-child {
 font-weight: 700;
}
.footer-copyright {
  margin-left: auto;
}
.inner-header {
 width: auto;
 padding: 0 27px;
 min-height: 120px;
 outline: 5px solid red;
}
.add-menu{
 display:flex;
 justify-content:space-between;
 align-items:flex-end;
 min-height:40px;
 outline: 5px solid green;
 margin-bottom:17px;
}
.time {
 font-size: 14px;
 line-height: 16px;
 font-weight: 700;
 text-align:right;
 
}
.phone {
 font-size: 22px;
 line-height: 24px;	
 font-weight: 700;
}
.breadcrumbs{
 list-style: none;
 width: 225px;
 
 padding: 0;
 margin: 25px 0 0;
 outline: 5px solid red;
}
.breadcrumbs li{
display: inline;
}
.breadcrumbs a{
 font-size: 14px;
 line-height: 16px;	
 color: #ffffff;
 
}
.breadcrumbs-current {
 text-decoration: none;	
}
.page-title {
 font-size: 35px;
 line-height: 41px;	
 padding-left:27px; 
}
.visually-hidden {
 display: none;	
}
.catalog-list {
 display: flex;
 outline: 5px solid black;
 padding: 0 27px; 
 flex-wrap: wrap;
}
.catalog-item {
 width: 267px;
 margin-right: 26px;
 padding:0;
 list-style:none;
}
.catalog-item:nth-child(4n) {
 width: 267px;
 margin-right: 0;
 padding:0;
 list-style:none;
}
.catalog-item a {
 font-size: 16px;
 line-height: 22px;	
 font-weight: 500; 
 color: #ffffff;

}
.catalog-item-price {
 font-size: 45px;
 line-height: 45px;	 	
}
.catalog-item-price strong{
 font-weight: 700;
}
.catalog-item-price span {
 font-size: 30px;
 line-height: 45px;	
 font-weight: 700;
}
.catalog-item-image img{
  background-clip: content-box;
  border-radius:50%;
 
}


